!!!
%html
  %head
    %title Invite yourself to a #slack channel
    %link(rel="stylesheet" type="text/css" href="app.css")
    %meta(name="author" content="Andreas Finger @mediafinger")
  %body

    = yield
