<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

  <head>
    <title>Invite yourself to a #slack channel</title>
    <link href="app.css" rel="stylesheet" type="text/css">
    <meta content="Andreas Finger @mediafinger" name="author">
  </head>

  <body>

    <%= yield %>

    <div class="foot">
      Get the source code of this app:
      <br/>
      <a href="https://github.com/mediafinger/slack-inviter" target="_blank" title="github.com/mediafinger">
        https://github.com/mediafinger/slack-inviter
      </a>
    </div>

  </body>

</html>
